@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato:ital,wght@1,700&family=Rozha+One&display=swap');


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mínimo alto de la ventana */
}

/* Estilo para el contenido principal */
main {
  flex: 1; /* Ocupa el espacio disponible */
}

/* Estilo para el pie de página */
footer {
  flex-shrink: 0; /* No se encogerá */
}

.navBar2 {
  color: #f6c65e
}
.Zaragoza-head{
  color: #f6c65e
}